table,tr,td{
    
    border:10px rgb(73, 77, 82);
    margin-left: auto;
    margin-right: auto;

    
}
tr{
    
    height: 150px;

}
td{
    text-align:center;
    
    width: 130px;

}
h4,p{

    text-align: center;
}
body{
    
    height: 500vh;
    background-image: url('./smily.jpg');
    background-size: 300vh;
    text-align: center;
}
